# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [7]:
import pandas as pd
import numpy as np

dados = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]
anomalia_termica = pd.Series(dados)
anomalia_termica

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [9]:
indice = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
anomalia_termica = pd.Series(dados, index=indice)
anomalia_termica

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [11]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

dic_temperaturas = pd.Series(dic_temperaturas)
dic_temperaturas

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [13]:
arr = np.random.normal(100, 10, (20,3))

pd.DataFrame(arr)

             0           1           2
0   115.332012  105.663068   94.123589
1   104.392091  105.473710   84.610259
2   105.040253   92.531663  102.359461
3    99.532446   96.745975   84.470801
4    91.761282  104.623448   89.420182
5    97.395951   86.568901   99.990507
6    92.237225   87.982410   94.211721
7   105.723802   93.065055  110.031661
8   101.934163   93.714520   96.274060
9   119.034414   97.051680   96.615024
10  102.387598  107.939076   89.938847
11   98.518167   98.751574  105.612398
12  105.436783  102.399849   96.693901
13   97.363339   90.574105  102.733012
14   98.007225  110.839177   89.027171
15  105.640446  102.131408  105.190609
16   97.466144  103.550748   96.581381
17  102.071297  114.783042  102.071191
18   88.534404  106.041485   96.500193
19   93.913004   91.358650  112.427528

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [15]:
indice = range(1, 21)
colunas = ["x1", "x2", "x3"]

pd.DataFrame(arr, index=indice, columns=colunas)

            x1          x2          x3
1   115.332012  105.663068   94.123589
2   104.392091  105.473710   84.610259
3   105.040253   92.531663  102.359461
4    99.532446   96.745975   84.470801
5    91.761282  104.623448   89.420182
6    97.395951   86.568901   99.990507
7    92.237225   87.982410   94.211721
8   105.723802   93.065055  110.031661
9   101.934163   93.714520   96.274060
10  119.034414   97.051680   96.615024
11  102.387598  107.939076   89.938847
12   98.518167   98.751574  105.612398
13  105.436783  102.399849   96.693901
14   97.363339   90.574105  102.733012
15   98.007225  110.839177   89.027171
16  105.640446  102.131408  105.190609
17   97.466144  103.550748   96.581381
18  102.071297  114.783042  102.071191
19   88.534404  106.041485   96.500193
20   93.913004   91.358650  112.427528

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [17]:
media = (arr[:, 0] + arr[:, 1] + arr[:, 2]) / 3
df = pd.DataFrame(arr, index=indice, columns=colunas)
df["media"] = media
df

            x1          x2          x3       media
1   115.332012  105.663068   94.123589  105.039556
2   104.392091  105.473710   84.610259   98.158686
3   105.040253   92.531663  102.359461   99.977126
4    99.532446   96.745975   84.470801   93.583074
5    91.761282  104.623448   89.420182   95.268304
6    97.395951   86.568901   99.990507   94.651786
7    92.237225   87.982410   94.211721   91.477119
8   105.723802   93.065055  110.031661  102.940172
9   101.934163   93.714520   96.274060   97.307581
10  119.034414   97.051680   96.615024  104.233706
11  102.387598  107.939076   89.938847  100.088507
12   98.518167   98.751574  105.612398  100.960713
13  105.436783  102.399849   96.693901  101.510178
14   97.363339   90.574105  102.733012   96.890152
15   98.007225  110.839177   89.027171   99.291191
16  105.640446  102.131408  105.190609  104.320821
17   97.466144  103.550748   96.581381   99.199424
18  102.071297  114.783042  102.071191  106.308510
19   88.534404  106.041485   96.500193   97.025361
20   93.913004   91.358650  112.427528   99.233061

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [19]:
log_med = np.log(df["media"])
df["log_med"] = log_med
df

            x1          x2          x3       media   log_med
1   115.332012  105.663068   94.123589  105.039556  4.654337
2   104.392091  105.473710   84.610259   98.158686  4.586585
3   105.040253   92.531663  102.359461   99.977126  4.604941
4    99.532446   96.745975   84.470801   93.583074  4.538850
5    91.761282  104.623448   89.420182   95.268304  4.556697
6    97.395951   86.568901   99.990507   94.651786  4.550205
7    92.237225   87.982410   94.211721   91.477119  4.516089
8   105.723802   93.065055  110.031661  102.940172  4.634148
9   101.934163   93.714520   96.274060   97.307581  4.577877
10  119.034414   97.051680   96.615024  104.233706  4.646636
11  102.387598  107.939076   89.938847  100.088507  4.606055
12   98.518167   98.751574  105.612398  100.960713  4.614731
13  105.436783  102.399849   96.693901  101.510178  4.620159
14   97.363339   90.574105  102.733012   96.890152  4.573578
15   98.007225  110.839177   89.027171   99.291191  4.598057
16  105.640446  102.131408  105.190609  104.320821  4.647471
17   97.466144  103.550748   96.581381   99.199424  4.597132
18  102.071297  114.783042  102.071191  106.308510  4.666345
19   88.534404  106.041485   96.500193   97.025361  4.574972
20   93.913004   91.358650  112.427528   99.233061  4.597471